.idea
data/test
data/train
/download
driver/msedgedriver.exe
/temp.py
/.env
/log/
/wandb/
/models/model.pth
/graph
/graph.png
/banana.py
/result.txt
/results/
/test_results/
/dataset/
/.neptune/
/checkpoints/
/scaler/
/data_provider/__pycache__/
exp/__pycache__/
models/__pycache__/
utils/__pycache__/

